.main{
	width:64%;
	float:left;
	height:800px;
	overflow:hidden;
	overflow-y:auto;
	/*border:1px solid black;*/
}
.left{
	width:10%;
	float:left;
	padding:0 0 0 20px;
	margin:60px 0 0 0;
	/*border:1px solid black;*/
}
.right{
	width:20%;
	float:left;
	padding:0 0 0 0;
	margin:100px 0 0 10px;
}
.main{
	margin:50px 0 0 50px;
}
table{
	margin:50px 0 0 0;
	width:100%;
}
table,td,tr{
	border-collapse:collapse;
	border:1px solid #666;
}
.tableTile{
	text-align:center;
	height:20%;
}
td.td_fileName{
	width:40%;
	word-break: break-all;   
}

#thisBlogTitle{
	font-size:20px;
	text-align: center;
}
#thisBlogDate{
	font-size:15px;
	text-align: right;
	margin:5px 15px 5px 0;
	
}
#blogShow{
	margin:0 0 0 150px;
	background-color:#E1E6F6;
}
#content{
	height:250px;

	text-align: right;
}
#contentEdit{
	height:300px;
}
a{
	color:#666;
}
a:hover{
	color:#F78117;
}
#commentDocClikButton{
	text-align: right;
}
#commentBlogClikButton{
	text-align: right;
}
#commentsDoc{
	
	height:600px;
	overflow:hidden;
	overflow-y:auto
	
}
#commentsBlog{
	
	height:600px;
	overflow:hidden;
	overflow-y:auto
	
}

.singleComment{
	background-color:#DBDBDB;
	border:1px solid #F78117;
	margin:0px 5px 5px 0px;
}